<div class="container">
    <div class="container mb-5">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-end">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/products">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/realtimeproducts">Real Time Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/profile">Profile</a>
                    </li>
                    <li>
                        <button id="cartButton">CART</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <img src="{{product.thumbnails}}" alt="{{product.title}}" class="img-fluid">
        </div>
        <div class="col-md-4">
            <h1 class="fs-1 fw-light">{{product.title}}</h1>
            <p class="fs-2 fw-light text-danger">${{product.price}}</p>
            <p><button class="btn btn-dark" onclick="agregarProductoAlCarrito('{{product._id}}')">Agregar</button></p>
            <p class="fw-light">{{product.description}}</p>
        </div>
    </div>
</div>

<script src="../public/products.js"></script>